.button{
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.445em;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.25s ease-out, border-color 0.25s ease-out, box-shadow 0.25s ease-out;
}

.upper{
    text-transform: uppercase;
    background-color: #1a1919;
    color: white;
}

.picker{

}
