
.rounded{
  border-radius: 5px;
}

.row{
  display: flex;
  justify-content: space-around;
}
.center{
  text-align: center;
  justify-content: center;
}

.right{
  text-align: right;
  justify-content: right;
}

.left{
  text-align: left;
  justify-content: left;
}

.leftSide{
  border-right: 1px solid grey;
}

.leftSide, .rightSide{
  padding-top: 6rem;
}
